body {
    background-image: url('imagens/fundo.avif');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;        
    }

    

      .tudo
      {
        width: 50%;
        height: 120px;
        background-color: #56c5db;
      }